## Various settings
.DS_STORE
xcuserdata/
*.pbxuser

## Build generated
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Projects/.module-interfaces/

## Obj-C/Swift specific
*.hmap
*.ipa

# Swift Package Manager
#
.build/
.swiftpm

## Config
*.xcconfig

## Dev tool
*.dev-version
*.swift-version
